.aboutMeContainer {
    padding: 0 110px;
    margin: 120px 0;
}

.profileContainer{
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 50px;
     width: 100%;
     opacity: 0;
     transition: all 0.3s ease-in-out;
     -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
     -ms-transition: all 0.3s ease-in-out;
     -o-transition: all 0.3s ease-in-out;
     transform: translateY(40px);
     -webkit-transform: translateY(40px);
     -moz-transform: translateY(40px);
     -ms-transform: translateY(40px);
     -o-transform: translateY(40px);
}

.profileContainer.show{
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.imgProfileContainer{
    position: relative;
    overflow: hidden;
    width: 600px;
    height: 600px;
    border-bottom: 10px solid  #393E46;
    border-right: 10px solid  #393E46;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}

.imgProfile{
    height: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.textProfileContainer{
    width: 100%;
    position: relative;
}

.headerTextProfile{
    display:  flex;
    gap: 10px;
    padding: 15px 20px;
}

.headerTextProfile div{
    width: 30px;
    height: 30px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    display: none;
}

.headerTextProfile h1{
    margin: auto 0;
    font-family: "Cal Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: red;
}

.bodyTextProfile{
    padding: 15px 20px;
    height: 330px;
    overflow-y: auto;
    scrollbar-width:none;
    -ms-overflow-style:none;
    color: #222831cf;
}

.footerTextProfile{
    position: absolute;
    bottom: 0;
    padding: 20px;
    /* border-top: 1px solid rgba(0, 0, 0, 0.169); */
    width: 100%;
    /* background-color: white; */
}

.footerTextProfile div{
    display: flex;
    justify-content: space-between;
}

.footerTextProfile div i{
    font-size: 25px;
}

.footerTextProfile p{
    margin: 0;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.486);
  
}

.iconSosmed{
    text-decoration: none;
    color:black;
    position: relative;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.iconSosmed span{
  
    display: none;
    position: absolute;
    top: -18px;
    left: 0px;
    background-color: black;
    font-size: 11px;
    color: white;
    padding: 3px 8px;
    border-radius: 6px;
    transition:all 0.3s ease ;
    -webkit-transition:all 0.3s ease ;
    -moz-transition:all 0.3s ease ;
    -ms-transition:all 0.3s ease ;
    -o-transition:all 0.3s ease ;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}


.iconSosmed:hover span{
    display: flex;
}

.iconDownload{
    text-decoration: none;
    color: black;
    position: relative;
}

.iconDownload span{
    position: absolute;
    padding: 3px 8px;
    font-size: 11px;
    color: white;
    background-color: black;
    border-radius:6px ;
    -webkit-border-radius:6px ;
    -moz-border-radius:6px ;
    -ms-border-radius:6px ;
    -o-border-radius:6px ;
    top: -18px;
    left: -57px;
    display: none;
}

.iconDownload:hover span{
    display: block;
}

.imgHeaderText{
    display: none
    ;
}

@media screen and (max-width:1104px){

    .imgProfileContainer{
    position: relative;
    overflow: hidden;
    width: 500px;
    height: 500px;
    border-bottom: 10px solid  #393E46;
    border-right: 10px solid  #393E46;
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
}

.bodyTextProfile{
    padding: 15px 20px;
    height: 240px;
    overflow-y: auto;
    scrollbar-width:none;
    -ms-overflow-style:none;
    color: #222831cf;
}

}

@media screen and (max-width:900px){

    .aboutMeContainer{
        padding: 0 30px ;
    }

    .profileContainer{
        grid-template-columns: 1fr;
        height: 100%;
        margin: 0 ;
        overflow: hidden;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        box-shadow:  3px 5px 5px 5px rgba(0, 0, 0, 0.032);
        gap: 0;
}

    .imgProfileContainer{
        width: 100%;
    }

    .imgProfileContainer{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 500px;
    border-bottom:none;
    border-right:none;
    border-radius:0% ;
    -webkit-border-radius:0% ;
    -moz-border-radius:0% ;
    -ms-border-radius:0% ;
    -o-border-radius:0% ;
    background-color: #222831;
}

    .textProfileContainer{
        width: 100%;
        padding-bottom: 90px;
        background-color: white;
    } 
    
    .headerTextProfile h1{
    margin: auto 0;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.headerTextProfile div{
    display: block;
}

.headerTextProfile{
     border-bottom: 1px solid rgba(0, 0, 0, 0.169);
}

.footerTextProfile{
    border-top: 1px solid rgba(0, 0, 0, 0.169);
    background-color: white;
}

.imgHeaderText{
    display: block;
}

.bodyTextProfile{
    height: 330px;
}

}

@media screen and (max-width:600px){

    .aboutMeContainer{
        padding: 0 10px ;
    }

    .profileContainer{
        margin: 0 0;
    }



  .headerTextProfile h1{
    margin: auto 0;
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
}



