.textIntroExperience{
    opacity: 0;
    width:80% ;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100vh;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
}

.textIntroExperience.show{
        opacity: 1;
}

.textIntroExperience h1{
    font-weight: 400;
    font-size: 55px;
    text-align: center;
    color: #0E0E10;
}

.experienceLine {
     position: fixed;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
     -ms-transform: translate(-50%, -50%);
     -o-transform: translate(-50%, -50%);
     width: 100vw;
     /* height: 20; */
     display: flex;
     justify-content: space-between;
     pointer-events: none;
     z-index: 3;
}

.lineExp{
    /* height: 15px; */
    background: #0E0E10 ;
    width: 0;
    transition: width 0.05s linear, height 0.2s linear;
    -webkit-transition: width 0.05s linear, height 0.2s linear;
    -moz-transition: width 0.05s linear, height 0.2s linear;
    -ms-transition: width 0.05s linear, height 0.2s linear;
    -o-transition: width 0.05s linear, height 0.2s linear;
}

.leftExp {
    transform-origin: right;
    border-radius:0 1000px 1000px 0 ;
    -webkit-border-radius:0 1000px 1000px 0 ;
    -moz-border-radius:0 1000px 1000px 0 ;
    -ms-border-radius:0 1000px 1000px 0 ;
    -o-border-radius:0 1000px 1000px 0 ;
}
.rightExp {
    transform-origin: left;
    border-radius: 1000px 0 0 1000px  ;
    -webkit-border-radius: 1000px 0 0 1000px  ;
    -moz-border-radius: 1000px 0 0 1000px  ;
    -ms-border-radius: 1000px 0 0 1000px  ;
    -o-border-radius: 1000px 0 0 1000px  ;
}

.containerExperience {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    max-width: 1500px !important;
    align-items: center;
    z-index: 4;
    opacity: 0;
        overflow: hidden;
    touch-action: pan-x;
    pointer-events: none;
     touch-action: none;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.containerExperience.show {
    opacity: 1;
    pointer-events: all;
}

.contentExperience{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.16);
    pointer-events: auto;
  touch-action: none;
   -webkit-overflow-scrolling: touch;
     will-change: scroll-position; 
       overscroll-behavior-x: contain;
}


.contentExperience::after{
       content: "";
       position: absolute;
       inset: 0;
       background:linear-gradient(to right, rgb(0, 0, 0),rgba(0, 0, 0, 0.800));
       pointer-events: none;
}

.contentTitleExperience{
      position: relative;
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.16);
      background-color: white;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
      scroll-behavior: auto;
      touch-action: pan-x;
      overscroll-behavior-x: contain;
      -webkit-overflow-scrolling: touch;
      will-change: scroll-position;
      transition: transform 0.3s ease, opacity 0.3s ease;
      opacity: 1;
}


/* .contentTitleExperience::after{
      content: "";
      position: fixed;
      inset: 0;
      background:linear-gradient(to left, rgb(0, 0, 0),rgba(0, 0, 0, 0.627));
      pointer-events: none;
      transform: none !important;
} */

.titleExp{
  width: 100vw;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: calc(20vw + 70vh);
  color: #FFFFFF;
}

.contentExperience{
  opacity: 0;
  pointer-events: auto;
  transform-origin: center center;
  transition: transform 0.8s ease, opacity 0.8s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  z-index: -1;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.contentExperience.showContentZoom {
    opacity: 1;
    z-index: 10;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}

.wrapperExperience {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.wrapperExperience img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: center;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
}

.containerTextExp {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-self: center;
    padding: 50px;
    gap: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.cardTextExp{
    flex: 0 0 500px;
    max-width: 500px;
    border: 1px solid white;
    padding: 50px;
    margin: auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.cardTextExp h1 {
    font-weight: 700;
    /* font-size: 20px; */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* contoh: 2 baris */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
}

.cardTextExp p {
    /* font-size: 10px; */
    font-weight: 200;
    margin: auto;
}


/* TABLET */
@media screen and (max-width:1000px){

.titleExp{
    font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: calc(40vw + 70vh);

}

}


/* MOBILE */
@media screen and (max-width:600px){
     .textIntroExperience h1{
          font-weight: 400;
     font-size: 40px;
    }

.titleExp{
    font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: calc(60vw + 70vh);

}
}


