body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    overflow: auto;
    scrollbar-width: none !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

body.active {
    overflow: hidden;
}

body.blur-bg::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.baseContainer {
    max-width: 1500px;
    margin: auto;
    height: 100%;
    min-height: 100vh;
    background-color: #f0f4fc;
    position: relative;
    padding-bottom: 10px;
}

.navbarContainer {
    display: flex;
    justify-content: space-between;
    padding: 50px 110px 30px 110px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    z-index: 100 !important;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    animation: navbarDrop 0.9s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContainer a {
    text-decoration: none;
    color: #0e0e10;
}

.logoContainer a h3 {
    font-family: "Cal Sans", sans-serif;
    display: inline-block;
    letter-spacing: -0.05em;
    /* font-weight:bold; */
    font-size: 25px;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 15px;
    align-items: baseline;
}

.menuBarContainer {
    margin: auto 0;
    display: flex;
    gap: 14px;
}

.hireMeMenu {
    background-color: #d8ddec;
    padding: 10px 20px;
    width: 165px;
    cursor: pointer;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    position: relative;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.hireMeMenu.active {
    background-color: #ffffff;
}

.hireMeMenu:hover {
    background-color: #7b3eff;
    align-items: end;
    justify-content: end;
}

.hireMeMenu p {
    margin: auto;
    color: #0e0e10;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    padding: 0;
    margin: 0;
}

.hireMeMenu:hover p {
    color: #ffffff;
}
.hireMeMenu:hover i {
    color: #ffffff;
    left: 15px;
}

.hireMeMenu:hover div {
    position: absolute;
    right: -20px;
    opacity: 0;
}

.hireMeMenu i {
    left: -20px;
    position: absolute;
    color: #000000;
    transition: color 0.2s ease-in-out, left 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, left 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out, left 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, left 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out, left 0.2s ease-in-out;
}

.hireMeMenu div {
    height: 5px;
    width: 5px;
    background-color: #000000;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}

.wrapperMenu {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: end;
    background-color: #302f2f;
    color: #ffffff;
    padding: 10px 20px;
    width: 115px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.wrapperMenu:hover {
    background-color: #121212;
}

.wrapperMenu:hover .containerIconMenu div {
    background-color: #2ee9ff;
}

.wrapperMenu:hover .containerIconMenu {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.containerMenu,
.containerMenu p {
    margin: auto 0;
}

.text-menu {
    position: absolute;
    left: 20px;
    top: 10px;
}

.text-menu.active {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.text-menu.next {
    opacity: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
}

.containerMenu.animate .text-menu.active {
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    opacity: 0;
}
.containerMenu.animate .text-menu.next {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    opacity: 1;
}

.containerIconMenu {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.containerIconMenu.active {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.containerIconMenu div {
    height: 5px;
    width: 5px;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.containerListMenu {
    position: absolute;
    right: 0;
    top: 50px;
    right: 110px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.containerListMenu.active {
    top: 120px;
}

.containerListMenu ul {
    margin: 0;
    padding: 0;
}

.containerListMenu ul:first-child {
    padding: 0 55px;
    width: 293px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 0;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out,
        opacity 0.6s ease-in-out, transform 0.4s ease-in-out;
}

.containerListMenu ul:first-child.active {
    padding: 20px 55px;
    width: 293px;
    margin-bottom: 20px;
    height: max-content;
    opacity: 1;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    /* border: 1px solid rgb(48, 47, 47); */
}

.containerListMenu ul:last-child {
    padding: 0 55px;
    height: 0;
    opacity: 0;
    cursor: pointer;
    overflow: hidden;
    background-color: #302f2f;
    color: #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: background-color 0.4s ease, color 0.4s ease-in-out,
        opacity 0.6s ease-in-out, transform 0.4s ease-in-out;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

.containerListMenu ul:last-child.active {
    padding: 10 55px;
    height: max-content;
    opacity: 1;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.containerListMenu ul:last-child:hover {
    background-color: #121212;
}

.containerListMenu ul:first-child li {
    color: black;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.containerListMenu ul:first-child li:hover {
    color: #2ee9ff !important;
}

.containerListMenu ul li {
    list-style: none;
    font-size: 25px;
    cursor: pointer;
    margin: 15px 0;
}
/* TABLET */
@media screen and (max-width: 1000px) {
    .navbarContainer {
        padding: 50px 55px 30px 55px;
    }

    .containerListMenu {
        right: 55px;
    }
}

/* @media screen and (max-width:700px){ 
    @keyframes navbarDrop {
    0% {
        transform: translateY(-120%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbarContainer{
     animation: navbarDrop 0.9s cubic-bezier(.22,.61,.36,1) forwards;
}
} */

@media screen and (max-width: 600px) {
    .navbarContainer {
        padding: 30px;
    }

    .logoContainer a h3 {
        display: none;
    }

    .containerListMenu {
        top: 100px !important;
        left: -100px;
    }

    .containerListMenu.active {
        left: -30px;
    }

    .containerListMenu ul:first-child {
        width: 100vw !important;
        transform: rotate(0) translateX(-30%);
        -webkit-transform: rotate(0) translateX(-30%);
        -moz-transform: rotate(0) translateX(-30%);
        -ms-transform: rotate(0) translateX(-30%);
        -o-transform: rotate(0) translateX(-30%);
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        transition: background-color 0.4s ease, color 0.4s ease-in-out,
            opacity 0.6s ease-in-out, transform 0.4s ease-in-out;
    }

    .containerListMenu ul:first-child.active {
        transform: rotate(0) translateX(0%);
        -webkit-transform: rotate(0) translateX(0%);
        -moz-transform: rotate(0) translateX(0%);
        -ms-transform: rotate(0) translateX(0%);
        -o-transform: rotate(0) translateX(0%);
    }

    .containerListMenu ul:last-child {
        display: block;
        width: 100vw;
        transform: rotate(0) translateX(-30%);
        -webkit-transform: rotate(0) translateX(-30%);
        -moz-transform: rotate(0) translateX(-30%);
        -ms-transform: rotate(0) translateX(-30%);
        -o-transform: rotate(0) translateX(-30%);
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        transition: background-color 0.4s ease, color 0.4s ease-in-out,
            opacity 0.6s ease-in-out, transform 0.5s ease-in-out;
    }

    .containerListMenu ul:last-child.active {
        transform: rotate(0) translateX(0%);
        -webkit-transform: rotate(0) translateX(0%);
        -moz-transform: rotate(0) translateX(0%);
        -ms-transform: rotate(0) translateX(0%);
        -o-transform: rotate(0) translateX(0%);
    }

    .wrapperMenu {
        width: 45px;
        padding: 10px;
        justify-content: center;
    }

    .containerMenu {
        display: none;
    }

    .containerListMenu ul li {
        font-size: 30px;
    }
}

@media (hover: none) and (pointer: coarse) {
    .wrapperMenu:hover .containerIconMenu {
        transform: none !important;
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
    }
}
